package pages

import (
	"htemplx/app/views/components"
	"htemplx/app/views/layouts"
)

templ About(loggedIn bool, title string) {
	@layouts.Base(title) {
		@components.Navbar(false, loggedIn)
        @components.About()
        @components.Footer()
	}
}
