package pages

import (
    "htemplx/app/views/components"
    "htemplx/app/views/layouts"
)

templ Contact(title string) {
    @layouts.Base(title) {
        @components.Navbar()
          <h1 class="text-3xl font-bold underline">
            Contact
          </h1>
    }
}
