package pages

import (
    "htemplx/app/views/components"
    "htemplx/app/views/layouts"
)

templ Contact(title string) {
    @layouts.Base(title) {
        @components.Navbar()
        <div class="pt-5">
            @components.Contact()
        </div>
        @components.Footer()
    }
}
