package pages

import (
	"htemplx/app/views/components"
	"htemplx/app/views/layouts"
)

templ Index(title string) {
	@layouts.Base(title) {
        @components.Navbar()
          <h1 class="text-3xl font-bold underline">
            Index
          </h1>
	}
}
