package pages

import (
	"htemplx/app/views/components"
	"htemplx/app/views/layouts"
)

templ Index(title string) {
	@layouts.Base(title) {
        @components.Navbar()
        @components.Login()
        @components.NewsLetter()
        @components.Footer()
	}
}
