package pages

import (
	"htemplx/app/views/components"
	"htemplx/app/views/layouts"
)

templ Index(title string) {
	@layouts.Base(title) {
		@components.Navbar()
		<h1 class="h1">Index</h1>
		<button type="button" _="on click set #txtCount.value to Number(#txtCount.value) + 1">+</button>
        <label for="txtCount"></label><input type="text" id="txtCount" value="0"/>
        <button type="button" _="on click set #txtCount.value to Number(#txtCount.value) - 1">-</button>
	}
}
