package pages

import (
	"htemplx/app/views/components"
	"htemplx/app/views/layouts"
)

templ Privacy(loggedIn bool, title string) {
	@layouts.Base(title) {
		@components.Navbar(loggedIn)
        <div class="pt-20">
            @components.UnderConstruction()
        </div>
        @components.NewsLetter()
        @components.Footer()
	}
}
