package pages

import (
	"htemplx/app/views/components"
	"htemplx/app/views/layouts"
)

templ Services(title string) {
	@layouts.Base(title) {
		@components.Navbar()
        <div class="pt-20">
            @components.PasteBin()
        </div>
        @components.NewsLetter()
        @components.Footer()
	}
}
