package pages

import (
	"htemplx/app/views/components"
	"htemplx/app/views/layouts"
)

templ Services(loggedIn bool, title string) {
	@layouts.Base(title) {
		@components.Navbar(loggedIn)
        @components.UnderConstruction()
        @components.NewsLetter()
        @components.Footer()
	}
}
