package pages

import (
	"htemplx/app/views/components"
	"htemplx/app/views/layouts"
)

templ Services(title string) {
	@layouts.Base(title) {
		@components.Navbar()
        @components.PasteBin()
        @components.NewsLetter()
        @components.Footer()
	}
}
