package layouts

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en" data-theme="dark">
		<head>
			<title>{ title } </title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/public/assets/css/output.css"/>
			<script src="/public/assets/js/htmx.min.js"></script>
			<script src="/public/assets/js/hyperscript.min.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
